@media only screen and (max-width: 600px) {
    .back {
      height: 30%;
    }
    #navbar-bg{
        margin: auto;
    }

  }

  @media only screen and (max-width: 1280px) {
    .nav-item #btn{
      display: none;
    }

  }
  @media only screen and (max-width: 992px) {
    .astrum_img{
      top: 170rem;
    }
  }
