*
!public/

!public/courses
!public/courses/ast-3dmax.jpg
!public/courses/c.jpg
!public/courses/cyber.jpg
!public/courses/node.jpg
!public/courses/python.jpg
!public/courses/php.jpg
!public/courses/react.jpeg

!public/courses/logo
!public/courses/logo/3.jpg
!public/courses/logo/4.jpg
!public/courses/logo/7.jpg
!public/courses/logo/aspnet.png
!public/courses/logo/csharp.svg
!public/courses/logo/docker.png
!public/courses/logo/js.png
!public/courses/logo/laravel.png
!public/courses/logo/php.png
!public/courses/logo/postgresql.png
!public/courses/logo/typescript-2.svg

!public/mentors
!public/mentors/logo
!public/mentors/logo/4.jpg
!public/mentors/logo/csharp.svg
!public/mentors/logo/js.png
!public/mentors/logo/laravel.png

!public/mentors/aziza.jpg
!public/mentors/baxtibek.jpg
!public/mentors/jasur-shukurov.jpeg
!public/mentors/sarvar.jpg
!public/mentors/sarvar_sh.jpg

!.gitignore
